@import "../../.local/share/MCALR/thm/cur/ColorCurrent.css";
window {
    background-color: @Foreground;
}
* {
    font-family: JetBrainsMono Nerd Font;
    border-radius: 0px;
}
#input {
    padding: 4px 20px;
    color: @Foreground;
    font-weight: bold;
    background-color: @Background;
    margin: 10px;
}
#inner-box {
	color: @Foreground;
    font-weight: bold;
    background-color: @Background;
}
#outer-box {
    background-color: @Background;
}
#img {
    margin: 4px 8px;
}
#text:selected {
    color: #000000;
}
#entry {
    margin: 0px 4px;
    background-color: @Background;
}
#entry:selected {
    background-color: @Foreground;
}
